body {
    margin: 0;
    font-family: $raleway;
}

.container-fluid {
    margin-top: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


@media (min-width: 768px) and (max-width: 991px) {

    header {
        display: block;

    }



}

@media (min-width: 992px) {
    header {
        display: none;
    }
}

@media (max-width: 767px) {}