//colors

$white: #fff;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$fuzzy-wuzzy: #E56353;
$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

//tipografia

$raleway: 'Raleway',
sans-serif;
$raleway-regular: 400;
$raleway-bold: 700;

$old-standard: 'Old Standard TT',
serif;
$old-regular: 400;
$old-bold: 700;


//tamaños de letra

$xxx-large: 50px;
$xx-large: 30px;
$xl-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;